<h2>My Run</h2>

<div class="details-date-time">
<p class="details-date">{{run.date}}</p>
<p class="details-time">
  {{run.time}}
</p>
</div>

<div class="detail-notes">
  <p class+"detail-notes-text">{{run.notes}}</p>
</div>
