{{outlet}}
<main>
<nav>
  <p class="navbar-heading">Run Timer</p>
</nav>




<div class="container">
<div class="run-list">
  {{!-- {{#each model as |run|}} --}}
  <div class="run-list-item">
    <p class="run-text">10/15/15</p> <p class="run-text">25:04</p>
  </div>
  {{!-- {{/each}} --}}
</div>
</div>

<footer>
  <p class="footer-text">{{fa-icon "plus-circle"}}</p><p>hello</p>
</footer>
</main>
